.rowstyle{
  padding-right: 10px;
}
.header{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
  text-align: left;
}
.addbutton{
  float: right;
}
.rightspan{
  float: right;
  margin-right:20px;
  text-align: right;
}
