<h1 mat-dialog-title>Buy Product</h1>
<div mat-dialog-content>
  <p>Enter the quantity to purchase:</p>
  <mat-form-field class="mat-input-wrapper">
    <input disabled matInput [(ngModel)]="data.selectedProductId">
  </mat-form-field>
  <mat-form-field class="mat-input-wrapper">
    <input matInput [(ngModel)]="quantity">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  [mat-dialog-close]="quantity" cdkFocusInitial>Ok</button>
</div>
