<div class="loginform-container">
  	<h3 class="form-heading">Sign In</h3>
    <div class="form-paragraph">Welcome to Online Market Place</div>
    <div class="form-body">
  <mat-form-field>
    <input matInput placeholder="Account Number"  [(ngModel)]="activeAccount" >
  </mat-form-field>
  <div class="camp-signin">
    <button class="form-primary-button" mat-raised-button (click)="signin()">Sign In</button>
    <button (click)="reset()" mat-raised-button >Cancel</button>
  </div>
</div>
</div>
